@import '../../styles/variables.less';
@import '../../styles/themes/@{so-theme}.less';

// ~ 表示动态计算
@button-prefix: ~'@{so-prefix}-button';
@button-disabled: ~'.@{button-prefix}-disabled';

.@{button-prefix} {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  font-weight: @btn-font-weight;
  outline: none;
  background-image: none;
  border: 1px solid transparent;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  .button-size(@btn-padding-y; @btn-padding-x; @button-font-size-base; @line-height-base; @btn-border-radius-base);
  // 相邻的两个button右侧添加边距
  & + & {
    &:not(&-rtl) { // 从左到右
      margin-left: @button-margin-left;
    }

    &-rtl { // 从右至左
      margin-right: @button-margin-left;
    }
  }

  // *******未知******
  &::-moz-focus-inner {
    border: 0;
  }

  &.active {
    background-image: none;
    outline: 0;
    // .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }
  // *******未知******

  // hover + link效果
  &:hover,
  &:active {
    z-index: 10;
    color: @link-hover-color; // 颜色进行变化 - 针对default
    outline: none;
    text-decoration: none;
  }

  // disabled效果
  &[disabled],
  fieldset[disabled] &  {
    position: relative;
    box-shadow: none;
    cursor: @cursor-disabled; // 不可点击的✋🏻
    opacity: @button-disabled-opacity;
  }

  /********  type start  *********/
  &-default {
    // 统一颜色等数据 字体、背景、outline、名称、border
    .button-variant(@btn-default-color; @btn-default-bg; @btn-default-border; 'default'; @btn-default-border);
  
    &:not(.@{button-prefix}-disabled):hover,
    &:not(.@{button-prefix}-disabled):active,
    &:not(.@{button-prefix}-disabled):focus {
      color: @colors-primary;
    }
  }

  &-primary {
    .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border; 'primary');
  
    &.@{button-prefix}-ghost:not(@{button-disabled}) {
      // 背景: transparent; color: type; border: 
      .button-ghost(@btn-primary-color; @btn-primary-bg; @colors-primary;);
    }
  }

  &-secondary {
    .button-variant(@btn-secondary-color; @btn-secondary-bg; @btn-secondary-border; 'secondary');

    &.@{button-prefix}-ghost:not(@{button-disabled}) {
      .button-ghost(@btn-secondary-color; @btn-secondary-bg; @colors-secondary;);
    }
  }

  &-success {
    .button-variant(@btn-success-color; @btn-success-bg; @btn-success-border; 'success');

    &.@{button-prefix}-ghost:not(@{button-disabled}) {
      // background: hover情况下; color: type; border: 
      .button-ghost(@btn-success-color; @btn-success-bg; @colors-success;);
    }
  }

  &-info {
    .button-variant(@btn-info-color; @btn-info-bg; @btn-info-border; 'info');

    &.@{button-prefix}-ghost:not(@{button-disabled}) {
      // background: hover情况下; color: type; border: 
      .button-ghost(@btn-info-color; @btn-info-bg; @colors-info;);
    }
  }

  &-warning {
    .button-variant(@btn-warning-color; @btn-warning-bg; @btn-warning-border; 'warning');

    &.@{button-prefix}-ghost:not(@{button-disabled}) {
      // background: hover情况下; color: type; border: 
      .button-ghost(@btn-warning-color; @btn-warning-bg; @colors-warning;);
    }

  }

  &-danger {
    .button-variant(@btn-danger-color; @btn-danger-bg; @btn-danger-border; 'danger');

    &.@{button-prefix}-ghost:not(@{button-disabled}) {
      // background: hover情况下; color: type; border: 
      .button-ghost(@btn-danger-color; @btn-danger-bg; @colors-danger;);
    }
  }

  &-link {
    color: @colors-primary;
    color: @link-color;
    font-weight: normal;
    cursor: pointer;

    &,
    &:active,
    &[disabled],
    fieldset[disabled] & {
      background-color: transparent;
      .box-shadow(none);
    }

    // 单独处理link的禁用状态
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: @link-color;
        text-decoration: none;
      }
    }
    
    &,
    &:hover,
    &:focus,
    &:active {
      border-color: transparent;
    }

    &:hover,
    &:focus {
      background-color: transparent;
      color: @link-hover-color;
      text-decoration: @link-hover-decoration;
    }
  }
  
  /********  type  end   *********/

  // text类型的
  &-text {
    background: transparent;
    border: none;
    box-shadow: none;
    padding-left: 4px;
    padding-right: 4px;
    display: inline-flex;
    align-items: center;

    &:not(:disabled):hover {
      opacity: .8;
    }

    &,
    &:hover,
    &:active,
    &:focus {
      background: transparent;
      border: none;
      box-shadow: none;
      animation: none;
    }

    // 单独处理：禁用状态下的hover
    &[disabled],
    fieldset[disabled] & {
      opacity: .8;
    }
    
    &:disabled:hover {
      background: transparent;
    }

    &.@{button-prefix}-primary {
      color: @btn-primary-bg;
    }

    &.@{button-prefix}-secondary {
      color: @btn-secondary-bg;
    }

    &.@{button-prefix}-success {
      color: @btn-success-bg;
    }

    &.@{button-prefix}-info {
      color: @btn-info-bg;
    }

    &.@{button-prefix}-warning {
      color: @btn-warning-bg;
    }

    &.@{button-prefix}-danger {
      color: @btn-danger-bg;
    }
  }

  // 尺寸大小
  &-large {
    .button-size(@btn-padding-large-y; @btn-padding-large-x; @button-font-size-large; @line-height-base;  @btn-border-radius-large);
  }

  &-small {
    .button-size(@btn-padding-small-y; @btn-padding-small-x; @button-font-size-small; @line-height-base;  @btn-border-radius-small);
  }

  // 禁用效果,其中文字和link没有背景
  &-disabled:not(&-link):not(&-text), &-disabled:not(&-link):not(&-text):hover {
    background: @button-disabled-bg;
    color: @button-disabled-color;
    fill: @button-disabled-color;
    border-color: @button-disabled-border-color;
  }

  // buttonGroup
  &-group {
    .@{button-prefix} {
      position: relative;
      border-right-width: 0;
      border-left-width: 0;

      // 增加一条线
      &:before {
        position: absolute;
        content: '';
        width: 1px;
        height: 50%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        // 拆开的目的： 后续便于单独控制color
        border-left-width: 1px;
        border-left-style: solid;
        border-left-color: rgba(255, 255, 255, 0.4);
      }

      &:not(&-rtl) {
        margin-left: 0;
      }

      // 第一个元素
      &:first-child {
        border-left-width: 1px;
        // 不同时为尾元素
        &:not(:last-child) {
          .border-right-radius(0);
        }
        &:before {
          border-left-width: 0;
        }
      }

      // 最后一个元素
      &:last-child {
        border-right-width: 1px;
        // 不为首元素
        &:not(:first-child) {
          .border-left-radius(0);
        }
      }

      // 即不为第一个也不为最后一个
      &:not(:first-child):not(:last-child) {
        border-radius: 0;
      }

      // 统一设置button的border
      .button-group-border();
    }
  }
}